<%- include('./inc-header.ejs') %>

    <!-- Main -->

    <table class="content">
        <tr>
            <td align="left">

                <p>
                    <b>Dear <%= admin.first_name %>,</b>
                </p>

                <p>
                    <b>
                        <%= user.first_name %>
                            <%= user.last_name %>
                    </b> has requested to join the <b>
                        <%= organisation.name %>
                    </b> organisation
                </p>

                <p>
                    To respond the request, please click on the below link to login
                </p>


                <p class="mt-1">
                    <a href="<%= process.env.FRONT_DOMAIN  %>" class="btn">
                        Join now
                    </a>
                </p>

            </td>
        </tr>
    </table>


    <%- include('./inc-footer.ejs') %>

